$brainstation-blue: rgb(51, 170, 255);

/* Box-sizing border-box */
* {
 
  box-sizing: border-box;
  // font-size:10px;
}
 

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; 
  height:100%;
  width:100%;
  background-image: url("../assests/pexels.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
}


.container{
  margin:16px;
  &__heading{
    font-size:3rem;
    width:100%;
    text-align:center;
    color:white;
    font-weight: 700;
    margin-bottom: 0px;
  }
  &__input{
    width:14rem;
    height:2rem;
    margin-top:3rem;
    margin-right:1rem;
    box-shadow: 5px 10px 20px;
  }
  
    &__country{
      font-size:1.2rem;
      width:100%;
      text-align:center;
      margin:0px;
      color:white;
      font-weight:700;
    }
    &__temp{
      font-size:1rem;
      color:white;
      font-weight:700;
      margin:0.7rem;

    }
    &__temp1{    
      margin:0;
      color:white;
      font-size:1.2rem;
      text-transform: capitalize;
      margin-top:0.7rem;
      margin-left:0.7rem;
      
    }
    
    &__subcontainer{  
      display:flex;
      justify-content: center;
      
    }
    &__button{
      width:6rem;
      height:2rem;
      margin-top:3rem;
      box-shadow: 5px 10px 20px black;
      background-color:rgb(180, 138, 132);
      color:white;
    }
    &__icon{
      
      animation:iconanimation 3s infinite;
  
    }
  
 
  }
  @keyframes iconanimation{
    from{
      transform: scale(0.5,0.5);
    }
    to{
      transform:scale(1,1)
    }
  }




